*.old
*.old.xet
*.old.lang
*.old.inc.php
*.map
/.idea/
/js/app.js
/js/et2_videooverlay_interface.js
/js/et2_widget_color_radiobox.js
/js/et2_widget_comment.js
/js/et2_widget_filter_participants.js
/js/et2_widget_videooverlay.js
/js/et2_widget_videooverlay_slider_controller.js
/js/et2_widget_videotime.js
/js/overlay_plugins/et2_smallpart_question_text.js
/js/overlay_plugins/et2_smallpart_question_singlechoice.js
/js/overlay_plugins/et2_smallpart_overlay_html.js
/js/overlay_plugins/et2_smallpart_question_multiplechoice.js
/js/et2_widget_attachments_list.js
/js/et2_widget_cl_measurement_L.js
/js/et2_widget_comment_timespan.js
/js/et2_widget_video_controls.js
/js/et2_widget_videobar.js
/js/mark_helpers.js
/js/overlay_plugins/et2_smallpart_question_markchoice.js
/js/overlay_plugins/et2_smallpart_question_millout.js