@font-face {
    font-family: 'Exo Bold';
    font-style: normal;
    font-weight: 700;
    src: url(exo_bold.ttf) format('truetype');
}

@font-face {
    font-family: 'New_Zelek';
    font-style: normal;
    font-weight: 400;
    src: url(new_zelek.ttf) format('truetype');
}

@font-face {
    font-family: ubuntu;
    font-style: normal;
    font-weight: 400;
    src: url(ubuntu.ttf) format('truetype')
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Ubuntu', Helvetica, arial;
    font-size: 13px;
    color: #0f5270;

}

a:hover {
    color: #1dace4;

}

a {
    color: #0f5270;
}

section {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form {
    text-align: center;
}

.flipped-glyphicon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*----------------------*/

/*
<label class="controlCheckboxColored controlCheckboxColored-checkbox">
        First checkbox
            <input type="checkbox" checked="checked" />
        <div class="controlCheckboxColored_indicator"></div>
    </label>
 */
.controlCheckboxColored {
    /*font-family: arial;*/
    display: block;
    position: relative;
    padding-left: 19px;
    margin-bottom: 2px;
    cursor: pointer;
    /*font-size: 13px;*/
}

.controlCheckboxColored input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.controlCheckboxColored_indicator {
    position: absolute;
    top: 1px;
    left: 0;
    height: 14px;
    width: 14px;
    background: #ffffff;
    border: 1px solid #0f5270;
    border-radius: 4px;
}

.controlCheckboxColored:hover input ~ .controlCheckboxColored_indicator,
.controlCheckboxColored input:focus ~ .controlCheckboxColored_indicator {
    background: #f4f4f4;
}

.controlCheckboxColored input:checked ~ .controlCheckboxColored_indicator {
    background: #ffffff;
}

.controlCheckboxColored:hover input:not([disabled]):checked ~ .controlCheckboxColored_indicator,
.controlCheckboxColored input:checked:focus ~ .controlCheckboxColored_indicator {
    background: #ffffff;
}

.controlCheckboxColored input:disabled ~ .controlCheckboxColored_indicator {
    background: #cecece;
    opacity: 0.6;
    pointer-events: none;
}

.controlCheckboxColored_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.controlCheckboxColored input:checked ~ .controlCheckboxColored_indicator:after {
    display: block;
}

.controlCheckboxColored-checkbox .controlCheckboxColored_indicator:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid #1dace4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.controlCheckboxColored-checkbox input:disabled ~ .controlCheckboxColored_indicator:after {
    border-color: #cecece;
}

/*.controlCheckboxColored-checkbox .controlCheckboxColored_indicator::before {*/
/*    content: '';*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 4.5rem;*/
/*    height: 4.5rem;*/
/*    margin-left: -1.3rem;*/
/*    margin-top: -1.3rem;*/
/*    background: #cecece;*/
/*    */
/*    border-radius: 3rem;*/
/*    opacity: 0.6;*/
/*    z-index: 99999;*/
/*    transform: scale(0);*/
/*}*/
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.controlCheckboxColored-checkbox input + .controlCheckboxColored_indicator::before {
    animation: s-ripple 250ms ease-out;
}

.controlCheckboxColored-checkbox input:checked + .controlCheckboxColored_indicator::before {
    animation-name: s-ripple-dup;
}


/*----------------------*/
Body, #Mid_left, #CommentsCheckArea,
#Mid_mid,
#Mid_right,
#Mid_left_EmpRank,
#Mid_right_EmpRank,
#Mid_below,
#Mid_below_left,
#Mid_below_right {
    /*background-color: #f4f4f4;*/
}

.StandartText {
    font-family: 'Ubuntu', arial;

    color: #0f5270;
    text-align: center;
    /*width: 190px;*/
    padding: 6px 10px;
    font-size: 15px;
    float: left;
}

.StandartTextLeft {
    font-family: 'Ubuntu', arial;
    color: #0f5270;
    text-align: left;
    font-size: 15px;
    /*float: left;*/
    word-wrap: break-word;
}

.StandartTextLeftight {
    font-family: 'Ubuntu', arial;
    color: #1dace4;
    text-align: left;
    font-size: 15px;
    /*float: left;*/
    word-wrap: break-word;
}

.StandartTextlightColor {
    font-family: 'Exo Bold', arial;
    /*background-color: #1dace4;*/
    color: #0f5270;
    font-size: 18px;
    text-decoration: underline #0f5270;
    word-wrap: break-word;
}

.StandartTextH1 {
    font-family: 'Exo Bold', arial;
    clear: both;
    display: block;
    /*text-align: center;*/
    color: #f4f4f4;
    text-align: left;
    /*padding: 6px 10px;*/
    font-size: 20px;
    float: left;
    word-wrap: break-word;
}

.StandartTextH2 {
    font-family: 'Exo Bold', arial;
    clear: both;
    display: block;
    /*text-align: center;*/
    color: #0f5270;
    text-align: left;
    /*padding: 6px 10px;*/
    font-size: 20px;
    float: left;
    word-wrap: break-word;
}

.StandartTextH3 {
    font-family: 'Exo Bold', arial;
    clear: both;
    color: #0f5270;
    text-align: left;
    font-size: 20px;
    float: left;
}

/*------------*/

#AufgabeText {
    width: 620px;
    clear: both;
    display: table;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 8px;
    /*position: relativ;*/

}


#AufgabeZumVideo {
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    display: block;
    clear: both;

}

#AufgabeZumVideoTextTextarea{
    width: 100%; resize: none;
    background-color: #fff;
    Border: none;
}

/*------------*/
#CommentsShowArea {
    width: 630px;
    max-height: 400px;
    display: table;
    word-break: normal;
    cursor: pointer;

    /*border-top: 2px solid #eeeeee*/
}

.CommentsTopBox {
    width: 620px;
    max-height: 400px;
    display: block;
}

#CommentsBoxComments {
    width: 620px;
    max-height: 400px;
    overflow-y: scroll;
}

.CommentsBoxTitle {
    width: 100%;
    clear: both;
    display: table;
    background-color: #0f5270;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 8px;
    /*text-align: left;*/
    /*font-size: 20px;*/
}

#CommentsBox {
    width: 600px;
    /*background-color: #4359f1;*/
    margin-bottom: 0px;
    width: 100%;

}

.CommentsVideozeitPlus, .CommentsVorVideozeit {
    width: 600px;
    background-color: #fff;
    border: 1px solid #1dace480;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}

.CommentsValuesSubComments {
    border-top: 1px solid #1dace480;

}

.CommentsInfo {
    margin-top: 0;
    float: left;
    width: 150px;
    background-color: #aeadad;
    border-radius: 8px;
    /*border-right: 1px dotted #8c8c8c;*/
    flex-grow: 0;
    padding: 5px;
    margin-right: 3px;
    position: relative;
}

.CommentsValues {
    float: left;
    width: 445px;
    flex-grow: 0;
    position: relative
}

.CommentsValuesSub {
    float: left;
    width: 445px;
    flex-grow: 0;
    position: relative
}

.EditComments {
    float: right;
    font-size: 1.2em;
    color: #126286;
    padding-right: 5px;
    /*border-bottom: 2px dashed #0F5270;*/
    border-bottom: 2px dotted #0F5270;
    border-radius: 0px 0px 0px 4px;
}

.EditComments:hover {

    padding-right: 7px;
}

.CommentsMarkedColor {
    position: absolute;
    right: 8px;
    font-size: 20px;
}

.MarkedAreaExistOrNot {
    position: absolute;
    top: 2px;
    right: 28px;
    font-size: 15px;
}

.RetweetComments_Top {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


#SearchMarkedAreaTop {
    /*margin: 10px;*/
    padding-top: 7px;
    /*font-size: 1;*/
    /*border: 1px solid #f00;*/
    height: 30px;
    text-align: justify;
    cursor: pointer;
    line-height: 1em;
    /*border-top: 2px solid #eeeeee*/
}

#SelectMarkedAreaTypeInput {
    cursor: pointer;
}

#OnMouseoverPauseActiveLable {
    padding-right: 20px;
    float: right;
    font-family: 'Ubuntu', arial;
    color: #0f5270;
    font-size: 15px;
    font-weight: normal;
}

#SearchMarkedAreaInput {
    padding-left: 2px;
    border: 0;
    border-bottom: 1px solid #126286;
    width: 150px;
}

.SearchMarkedAreaElements {
    float: left;
    margin: 0 5px;
    color: #0f5270;
}

/*------------*/


#VideoList {
    background-color: #0f5270;
}


.selectdropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    min-width: 300px;

}

.selectdropdown select {
    /*font-family: 'Arial';*/
    display: inline-block;
    min-width: 300px;
    cursor: pointer;
    padding: 1px 32px;
    outline: 0;
    border: 1px solid #0f5270;
    border-radius: 8px;
    background: #f4f4f4;
    color: #0f5270;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selectdropdown select::-ms-expand {
    display: none;
}

.selectdropdown select:hover,
.selectdropdown select:focus {
    color: #000000;
    background: #cecece;
}

.selectdropdown select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.selectdropdown_arrow {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 1px;
    height: 1px;
    border: solid #0f5270;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.selectdropdown select:hover ~ .selectdropdown_arrow,
.selectdropdown select:focus ~ .selectdropdown_arrow {
    border-color: #0f5270;
}

.selectdropdown select:disabled ~ .selectdropdown_arrow {
    border-top-color: #cccccc;
}


/*-----------*/

.button_std_blue {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: #1dace4;
    border-radius: 4px;
    border: 1px solid #1dace4;
    display: inline-block;
    cursor: pointer;
    color: #f4f4f4;
    font-size: 15px;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_darkblue {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: #0f5270;
    border-radius: 4px;
    border: 1px solid #0f5270;
    display: inline-block;
    cursor: pointer;
    color: #f4f4f4;
    font-size: 15px;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_darkblue_small {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: #0f5270;
    border-radius: 4px;
    border: 1px solid #0f5270;
    /*display: inline-block;*/
    cursor: pointer;
    color: #f4f4f4;
    font-size: 15px;
    /*padding: 6px 10px;*/
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_small {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #0f5270;
    display: inline-block;
    cursor: pointer;
    color: #0f5270;
    font-size: 15px;
    padding: 3px 5px;
    margin: 0 0 5px 10px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_darkblue_logout {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: #0f5270;
    border-radius: 4px;
    border: 1px solid #0f5270;
    /*display: inline-block;*/
    cursor: pointer;
    color: #f4f4f4;
    font-size: 15px;
    /*padding: 6px 10px;*/
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_Play, .button_std_Edit {
    /*box-shadow: inset 0px 0px 0px 0px #ffffff;*/
    /*background-color: transparent;*/
    /*!*background-color: #ff0;*!*/
    /*border-radius: 4px;*/
    /*border: 1px solid #0f5270;*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
    /*color: #0f5270;*/
    /*text-decoration: none;*/
    /*text-shadow: 0px 0px 0px #ffffff;*/
}

.button_std_Play {
    padding-right: 20px;
    margin: 5px 5px 0 5px;
    font-size: 40px;
    /*float: left;*/
    float: right;
}

.button_std_Edit {
    padding-right: 30px;
    margin: 5px 5px 0 5px;
    font-size: 40px;

    /*float: left;*/
    float: right;
}


.button_std {
    box-shadow: inset 0px 0px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #0f5270;
    display: inline-block;
    cursor: pointer;
    color: #0f5270;
    font-size: 15px;
    padding: 5px 5px;
    margin: 2px 5px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
}

.button_std_SearchButton:active, .button_std:hover, .button_std_blue:hover, .button_std_darkblue:hover, .button_std_darkblue_small:hover {
    background-color: #cecece;
}

.button_std_SearchButton:active, .button_std:active, .button_std_blue:active, .button_std_darkblue:activ, .button_std_darkblue_small:active {
    position: relative;
    top: 1px;
}


.middleRadioButton {
    width: 100%;
    position: center;
    margin: auto;
    /*text-align: right;*/
}


.button_std_SearchButton {

    /*box-shadow: inset 0px 0px 0px 0px #ffffff;*/
    /*background-color: transparent;*/
    /*border-radius: 4px;*/
    /*border: 1px solid #0f5270;*/
    display: inline-block;
    cursor: pointer;
    color: #0f5270;
    /*text-decoration: none;*/
    /*text-shadow: 0px 0px 0px #ffffff;*/

}

/* Customize the label (the containerRadioButton) */
.containerRadioButton {
    /*font-family: Bahnschrift;*/
    position: relative;
    padding: 0 5px 2px 30px;

    margin-bottom: 2px;
    cursor: pointer;
    /*font-size: 15px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerRadioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    bottom: 0px;
    left: 2px;
    height: 22px;
    width: 22px;
    border: 1px solid #0f5270;

    /*   background-color: #eee; */
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadioButton:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadioButton input:checked ~ .checkmark {
    /*background-color: #00ff00;*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadioButton input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerRadioButton .checkmark:after {

    /*top: 8px;*/
    /*left: 8px;*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*border-radius: 50%;*/
    /*background: #e3e3e3;*/

    left: 6px;
    top: 2px;
    width: 8px;
    height: 12px;
    border: solid #151515;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

    /*background: #f0f;*/
}


/*----------*/

/*Videobar*/

video {
    cursor: pointer;
    background: #000;
}

/*input { width: 240px; }*/
/*button { width: 120px;  }*/

#VideobarTime {
    position: relative;
    top: -40px;
    right: 10px;
    width: 60px;
    float: right;
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    line-height: 20px;
    height: 20px;
    Text-align: right;
}

#FunctionalityOverlay {
    top: -6px;
}

.FunctionalityOverlayTop {
    /*border-left: 1px solid ;*/
    border-right: 1px solid #0f5270;
    border-left: 1px solid #0f5270;
    border-bottom: 1px solid #0f5270;
    border-radius: 0 0 5px 5px;
}

.FunctionalityOverlayMiddle {
    /*border: 1px solid #0f5270;*/
    /*border-radius: 5px;*/
}

.FunctionalityOverlayBottom {
    border: 1px solid #0f5270;
    border-radius: 5px;
}

.ShowthisCommentTop, .RetweetsCommentsTop {
    /*border: 1px solid #cecece;*/
    /*border: 1px solid #f0f;*/
    padding: 0 10px;
    margin-top: -10px;
    /*border-radius: 4px;*/
}

.ShowthisComment, .RetweetsComments {
    border-bottom: 1px solid #cecece;
    /*border-radius: 4px;*/
    display: block;
}

.ShowthisCommentOwner, .RetweetsCommentsOwner {
    color: #1dace4;
}

.ShowthisCommentText, .RetweetsCommentsText {
    font-size: 1.3em;
    background-color: #ffffff;
}

#VideobarExpert, #VideobarStudent {
    position: relative;
    top: -6px;
    border: 1px solid #0f5270;
    border-radius: 1px;
    cursor: pointer;
    background: #cecece;
    color: #aeadad;
    line-height: 30px;
    height: 30px;
    text-indent: 30px;
}

#VideoPufferBar {
    position: relative;
    top: -6px;
    border-right: 1px solid #0f5270;
    border-left: 1px solid #0f5270;
    /*border-top: 1px solid #000;*/
    border-radius: 1px;
    cursor: pointer;
    background: #cecece;
    color: #aeadad;
    height: 3px;

}

#VideobarExpert {
    display: none;

}

#VideobarStudent {
    /*border-bottom:4px solid #0f5270;*/
}

#VideobarExpert span, #VideobarStudent span {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 1%;
    bottom: 1%;
    background-color: #0f5270;
    min-width: 3px;
    border-left: 1px solid #1dace440;
    border-right: 1px solid #1dace440;
}
.CommentTimeBarStuentMultimarks{
    background: #0f5270;

   width: 4px;

    background: -moz-linear-gradient(145deg, rgba(15,82,112,1) 5%, rgba(29,172,228,1) 10%, rgba(255,0,0,1) 10%, rgba(255,0,0,1) 27%, rgba(29,172,228,1) 32%, rgba(29,172,228,1) 37%, rgba(244,244,244,1) 40%, rgba(206,206,206,1) 50%, rgba(244,244,244,1) 60%, rgba(29,172,228,1) 60%, rgba(29,172,228,1) 65%, rgba(40,222,40,1) 65%, rgba(0,255,0,1) 90%, rgba(29,172,228,1) 90%, rgba(15,82,112,1) 95%);
    background: -webkit-linear-gradient(145deg, rgba(15,82,112,1) 5%, rgba(29,172,228,1) 10%, rgba(255,0,0,1) 10%, rgba(255,0,0,1) 27%, rgba(29,172,228,1) 32%, rgba(29,172,228,1) 37%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(29,172,228,1) 60%, rgba(29,172,228,1) 65%, rgba(40,222,40,1) 65%, rgba(0,255,0,1) 90%, rgba(29,172,228,1) 90%, rgba(15,82,112,1) 95%);
    background: linear-gradient(145deg, rgba(15,82,112,1) 5%, rgba(29,172,228,1) 10%, rgba(255,0,0,1) 10%, rgba(255,0,0,1) 27%, rgba(29,172,228,1) 32%, rgba(29,172,228,1) 37%, rgba(244,244,244,1) 40%, rgba(206,206,206,1) 50%, rgba(244,244,244,1) 60%, rgba(29,172,228,1) 60%, rgba(29,172,228,1) 65%, rgba(40,222,40,1) 65%, rgba(0,255,0,1) 90%, rgba(29,172,228,1) 90%, rgba(15,82,112,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f5270",endColorstr="#0f5270",GradientType=1);

}


/*----------*/

.flexdiplay {
    display: flex;
}

.flexdiplaycolumn {
    flex-direction: column;
}

.flexnotgrowcolumn100 {
    min-height: 100vh;

}

.flexgrow {
    flex: 1;
}

.flexparent {
    width: 100%;
    display: flex;
    padding: 5px;
}

.flexfieldleft {
    align-items: center;
    display: flex;
    float: left;
    clear: both;
}

.flexfieldright {
    display: flex;
    float: right;
    clear: both;
    padding-left: 5px;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start;
    width: 100%;
}

.flexcontainer:after {
    display: block;
    margin: 5px;
    flex: 999 999 auto;
}

.flexitem {
    flex: 0 0 auto;
    /*margin: 5px;*/
}

.banner {
    width: 100%;
    height: 10%;
    /* background: red;*/
    /*background: #FFFFFF;*/
    padding: 1vw 0vw 0vw 0vw;
    text-align: left;
    font-size: 2.5em;
    color: grey;
}

/*content*/
.TitleSite {
    background-image: url('Titelbild.jpg');

    /* Full height */
    /*height: 100%;*/
    /*min-height: 100%;*/
    flex: 1;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-end;*/
    /*align-content: flex-start;*/
    /*align-items: center;*/

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    /*align-items: flex-end;*/


}

.TitleSiteText {
    background-color: #ffffffe6;
    border: 1px solid #0f5270;
    border-radius: 5px;
    padding: 20px;
    margin-top: 150px;
    margin-left: 10%;
    min-width: 280px;
    width: 24%;

}


/*-----------*/
.Mid {
    background-color: #f4f4f4;
    padding-top: 10px;
    /*background-color: #61ff61;*/

}


/*footer*/
.footer {
    /*background-color: #152936;*/

    /*z-index: -100;*/
    /*position: relative;*/
    /*bottom: 0;*/
    width: 100%;
    height: 50px;
    display: flex;
    /*padding-top: 10px;*/
    /*border-top: 2px solid #8c8c8c;*/

}

#footerLeft {

    align-items: center;
    /*justify-content: center;*/
    display: flex;
    flex-grow: 1;
    float: left;
    clear: both;

}

#footerRight {
    display: flex;
    float: right;
    clear: both;
}

#footerRight table, #footerRight td {
    border: none;
}

/* Content Mid */
#Mid {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

#wrapper_left {
    /*background-color: #f00;*/
    /*margin: 0 10px 0 0;*/
    /*flex-grow: 0;*/

    order: 1;
    flex: 0 1 auto;
    align-self: auto;
}

#wrapper_right {
    /*background-color: #0f0;*/
    /*flex-grow: 1;*/
    /*min-width: 600px;*/
    margin-left: 10px;
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
}


#Mid_left {
    /*background-color: red;*/
    /*margin: 2px 2px 0 10px;*/

}

#Mid_right {
    /*background-color: green;*/
    /*width: 50%;*/
    /*display: flex;*/
    justify-content: center;
}

/*-------------------------*/

.menu-bar-flexdisplay {
    display: flex;
    padding: 0 10px;
    width: 100%;
}

#menu-bar-Logo {
    flex: 1;
}

#menu-bar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;
}

#menu-bar {

    width: 100%;
    /*text-align: center;*/
    /*margin: 5px 0px 5px 0px;*/
    padding: 0px 5px 0px 5px;
    /*height: 50px;*/
    line-height: 100%;
    /*border-radius: 10px;*/
    /*-webkit-border-radius: 0px;*/
    /*-moz-border-radius: 0px;*/
    /*box-shadow: 0px 0px 0px #666666;*/
    /*-webkit-box-shadow: 0px 0px 0px #666666;*/
    /*-moz-box-shadow: 0px 0px 0px #666666;*/
    /*background: #FFFFFF;*/
    /*border: solid 1px #6D6D6D;*/
    position: relative;
    z-index: 999;
}

#menu-bar li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
    position: relative;
    list-style: none;
}

#menu-bar a {
    color: #0F5270;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    border-radius: 4px;
}

#menu-bar li ul li a {
    margin: 0;
}

#menu-bar li .active, #menu-bar .active a, #menu-bar li:hover > a {
    background: #CECECE;
    /*background: #f00;*/
    color: #0F5270;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0px 0px 3px #FFFFFF;
}

#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#menu-bar ul a:hover {
    background: #0399D4 !important;
    background: linear-gradient(top, #04ACEC, #0186BA) !important;
    background: -ms-linear-gradient(top, #04ACEC, #0186BA) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
    background: -moz-linear-gradient(top, #04ACEC, #0186BA) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar li:hover > ul {
    display: block;
}

#menu-bar ul {
    background: #DDDDDD;
    background: linear-gradient(top, #FFFFFF, #CFCFCF);
    background: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 28px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}

#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#menu-bar ul a {
    padding: 10px 0px 10px 15px;
    color: #424242 !important;
    font-size: 12px;
    font-style: normal;
    font-family: arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #FFFFFF;
}

#menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}

#menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}

#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#menu-bar {
    display: inline-block;
}

html[xmlns] #menu-bar {
    display: block;
}

* html #menu-bar {
    height: 1%;
}

table.TableCSS {
    height: 2em;
    line-height: 2em;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
}

table.TableCSS td, table.TableCSS th {
    text-align: left;
    vertical-align: top;
    padding-bottom: 10px;
}

table.TableCSS thead {
}

table.TableCSS thead th {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    text-decoration: underline;
}

table.TableCSS tfoot td {
    font-size: 14px;
}

table.TableCSS tfoot .links {
    text-align: right;
    vertical-align: top;
}

table.TableCSS tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

 .zoom {
     /*padding: 50px;*/
     /*background-color: green;*/
     transition: transform .2s; /* Animation */
     width: 400px;
     /*height: 200px;*/
     margin: 0 auto;
 }

.zoom:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
